*.jpg
yolov5s.pt
dataset/
checkpoints/*
__pycache__/

# Ignore macOS system files
.DS_Store
.AppleDouble
.LSOverride

# :) im using poetry for fun, ignore this cause noone else does
.venv
poetry.lock
pyproject.toml